.form-field {
  width: 100%;
  margin: 15px 0;
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 4px;
    font-size: 12px;
  }

  &__input {
    &:focus {
      border: 1px solid #0057ff;
    }
  }
}

.ng-invalid.ng-touched {
  border: 1px solid red;
  margin-bottom: 0px;
}
