<section class="entity__main">
  <div class="entity__topbar">
    <h2>Cargos</h2>
  </div>
  <div class="entity__content">
    <div class="actions">
      <input
        class="actions__search"
        type="text"
        placeholder="Buscar cargo..."
      />
      <button
        class="button button--primary button--big"
        (click)="openCreateForm()"
      >
        Adicionar cargo
      </button>
    </div>
    <div class="content__main">
      <div class="main__table" style="position: relative">
        <nz-table
          *ngIf="jobs$ | async as jobs; else loadingError"
          #basicTable
          [nzData]="jobs"
        >
          <thead>
            <tr>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let job of jobs" (click)="openUpdateForm(job)">
              <td>{{ job.name }}</td>
            </tr>
          </tbody>
        </nz-table>

        <ng-template #loadingError>
          <div *ngIf="error$ | async; else loading">
            <span>
              Erro ao carregar lista de cargos. Tente novamente mais tarde.
            </span>
          </div>
          <ng-template #loading>
            <ngx-spinner><p style="color: white">Loading...</p></ngx-spinner>
          </ng-template>
        </ng-template>
      </div>
      <div
        class="content__form"
        style="position: relative"
        *ngIf="sideForm.status"
      >
        <app-add-job
          *ngIf="sideForm.type === 'create'"
          (formClosedEvent)="closeSideForm()"
          (jobCreated)="refresh()"
        ></app-add-job>
        <app-edit-job
          *ngIf="sideForm.type === 'update'"
          [job]="selectedJob"
          (formClosedEvent)="closeSideForm()"
          (jobUpdated)="refresh()"
        ></app-edit-job>
      </div>
    </div>
  </div>
</section>
