.jobs {
  margin: 0 30px;
  display: grid;
  grid-template-areas:
    'topbar'
    'content';
  grid-template-columns: auto;
  grid-template-rows: 100px auto;
}

.jobs__topbar {
  grid-area: topbar;

  h2 {
    display: block;
    width: 100%;
    border-bottom: 2px solid black;
    padding-bottom: 26px;
  }
}

.jobs__content {
  grid-area: content;

  .actions {
    display: flex;
    justify-content: space-between;

    &__search {
      border-radius: 5px;
      padding: 10px;
      width: 30%;
      border: 1px solid #0057ff;
    }
  }
}

.content__main {
  display: flex;
  align-items: flex-start;
  margin-top: 26px;

  .main__table {
    width: 100%;
    height: 644px;
    padding: 16px;
    margin-right: 8px;

    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

    td:hover {
      cursor: pointer;
    }
  }
}

.active {
  background: #0000001a;
}

.content__form {
  width: 80%;
  padding: 16px;
  margin-left: 8px;

  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
