<div class="confirmation">
  <div class="confirmation__header">
    <fa-icon
      class="confirmation__icon"
      size="2x"
      [icon]="['far', 'trash-alt']"
    ></fa-icon>
    <h2 class="confirmation__title">Delete Client</h2>
  </div>

  <div class="confirmation__content">
    <p>
      <span
        >This action can't be undone. Are you sure you want to proceed?</span
      >
    </p>

    <div class="button-wrapper">
      <button type="submit" class="button button--form button--danger">
        Yes, Delete Client
      </button>
      <button class="button button--form button--secondary">
        No, Keep Client
      </button>
    </div>
  </div>
</div>
