<form class="edit-form" novalidate [formGroup]="form">
  <app-loading></app-loading>

  <div class="edit-form__header">
    <h2 class="edit-form__title">{{ 'jobs.forms.edit.title' | translate }}</h2>

    <app-delete-button
      class="edit-form__action--delete"
      confirmationMessage="{{ 'jobs.forms.delete.message' | translate }}"
      confirmationButtonText="{{
        'jobs.forms.delete.buttons.delete' | translate
      }}"
      cancellationButtonText="{{
        'jobs.forms.delete.buttons.cancel' | translate
      }}"
      (deleteEntity)="deleteJob()"
    ></app-delete-button>
  </div>

  <app-input
    fieldId="job-id"
    [control]="form.get('id')"
    label="{{ 'jobs.forms.fields.id.label' | translate }}"
  ></app-input>

  <app-input
    fieldId="job-name"
    [control]="form.get('name')"
    label="{{ 'jobs.forms.fields.name.label' | translate }}"
    placeholder="{{ 'jobs.forms.fields.name.placeholder' | translate }}"
  ></app-input>

  <div class="button-wrapper">
    <button
      type="submit"
      class="button button--form button--primary"
      (click)="updateJob()"
    >
      {{ 'jobs.forms.edit.buttons.success' | translate }}
    </button>
    <button
      class="button button--form button--secondary"
      (click)="formClosed.emit()"
    >
      {{ 'jobs.forms.edit.buttons.cancel' | translate }}
    </button>
  </div>
</form>
