<nz-table [nzData]="employees">
  <thead>
    <tr>
      <th>{{ 'employees.table.header.name' | translate }}</th>
      <th>{{ 'employees.table.header.client' | translate }}</th>
      <th>{{ 'employees.table.header.job' | translate }}</th>
      <th>
        {{ 'employees.table.header.national_identity' | translate }}
      </th>
      <th>{{ 'employees.table.header.birthdate' | translate }}</th>
      <th>{{ 'employees.table.header.salary' | translate }}</th>
      <th>{{ 'employees.table.header.active' | translate }}</th>
      <th>{{ 'employees.table.header.type' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let employee of employees"
      (click)="showEmployee.emit(employee)"
    >
      <td>{{ employee.name }}</td>
      <td>{{ employee.client.name }}</td>
      <td>{{ employee.jobPosition.name }}</td>
      <td>{{ employee.nationalIdentity }}</td>
      <td>{{ employee.birthdate | date: 'dd/MM/yyyy' }}</td>
      <td>{{ employee.salary | currency: 'BRL':'symbol' }}</td>
      <td>
        <i *ngIf="employee.active" nz-icon nzType="check" nzTheme="outline"></i>
        <i
          *ngIf="!employee.active"
          nz-icon
          nzType="close-circle"
          nzTheme="outline"
        ></i>
      </td>
      <td>{{ 'employees.type.' + employee.type | translate }}</td>
    </tr>
  </tbody>
</nz-table>
