<form class="edit-form" novalidate [formGroup]="form">
  <app-loading></app-loading>

  <div class="edit-form__header">
    <h2 class="edit-form__title">
      {{ 'clients.forms.edit.title' | translate: { name: client.name } }}
    </h2>

    <app-delete-button
      class="edit-form__action--delete"
      confirmationMessage="{{ 'clients.forms.delete.message' | translate }}"
      confirmationButtonText="{{
        'clients.forms.delete.buttons.delete' | translate
      }}"
      cancellationButtonText="{{
        'clients.forms.delete.buttons.cancel' | translate
      }}"
      (deleteEntity)="deleteClient()"
    ></app-delete-button>
  </div>

  <app-input
    fieldId="client-id"
    label="{{ 'clients.forms.fields.id.label' | translate }}"
    [control]="form.get('id')"
  ></app-input>

  <app-input
    fieldId="client-name"
    label="{{ 'clients.forms.fields.name.label' | translate }}"
    placeholder="{{ 'clients.forms.fields.name.placeholder' | translate }}"
    [control]="form.get('name')"
  ></app-input>

  <div class="button-wrapper">
    <button
      type="submit"
      class="button button--form button--primary"
      (click)="updateClient()"
    >
      {{ 'clients.forms.edit.buttons.success' | translate }}
    </button>
    <button
      class="button button--form button--secondary"
      (click)="formClosed.emit()"
    >
      {{ 'clients.forms.edit.buttons.cancel' | translate }}
    </button>
  </div>
</form>
