<form class="edit-form" novalidate [formGroup]="form">
  <div class="edit-form__header">
    <h2 class="edit-form__title">
      {{ 'clients.form.edit.title' | translate: { name: client.name } }}
    </h2>

    <app-delete-button
      class="edit-form__action--delete"
      confirmationMessage="{{ 'clients.form.remove.message' | translate }}"
      confirmationButtonText="{{
        'clients.form.remove.buttons.delete' | translate
      }}"
      cancellationButtonText="{{
        'clients.form.remove.buttons.cancel' | translate
      }}"
      (deleteEntity)="deleteClient()"
    ></app-delete-button>
  </div>

  <app-input
    fieldId="client-id"
    label="{{ 'clients.form.fields.id.label' | translate }}"
    [control]="form.get('id')"
  ></app-input>

  <app-input
    fieldId="client-name"
    label="{{ 'clients.form.fields.name.label' | translate }}"
    placeholder="{{ 'clients.form.fields.name.placeholder' | translate }}"
    [control]="form.get('name')"
  ></app-input>

  <div class="button-wrapper">
    <button
      type="submit"
      class="button button--form button--primary"
      (click)="updateClient()"
    >
      {{ 'clients.form.edit.buttons.success' | translate }}
    </button>
    <button class="button button--form button--secondary" (click)="closeForm()">
      {{ 'clients.form.edit.buttons.cancel' | translate }}
    </button>
  </div>
  <ngx-spinner
    ><p style="color: white">
      {{ 'loading.message' | translate }}
    </p></ngx-spinner
  >
</form>
