<form class="edit-form" novalidate [formGroup]="form">
  <div class="edit-form__header">
    <h2 class="edit-form__title">
      {{ 'clients.form.edit.title' | translate: { name: client.name } }}
    </h2>

    <div
      class="edit-form__action--delete button"
      nz-popconfirm
      nzPopconfirmTitle="{{ 'clients.form.remove.message' | translate }}"
      nzPopconfirmPlacement="bottom"
      [nzOkType]="'danger'"
      nzOkText="{{ 'clients.form.remove.buttons.delete' | translate }}"
      nzCancelText="{{ 'clients.form.remove.buttons.cancel' | translate }}"
      (nzOnConfirm)="deleteClient()"
      [nzIcon]="iconTpl"
    >
      <i nz-icon nzType="delete" nzTheme="outline"></i>
    </div>
  </div>

  <app-input
    fieldId="client-id"
    label="{{ 'clients.form.fields.id.label' | translate }}"
    [control]="form.get('id')"
  ></app-input>

  <app-input
    fieldId="client-name"
    label="{{ 'clients.form.fields.name.label' | translate }}"
    placeholder="{{ 'clients.form.fields.name.placeholder' | translate }}"
    [control]="form.get('name')"
  ></app-input>

  <div class="button-wrapper">
    <button
      type="submit"
      class="button button--form button--primary"
      (click)="updateClient()"
    >
      {{ 'clients.form.edit.buttons.success' | translate }}
    </button>
    <button class="button button--form button--secondary" (click)="closeForm()">
      {{ 'clients.form.edit.buttons.cancel' | translate }}
    </button>
  </div>
  <ngx-spinner><p style="color: white">Carregando...</p></ngx-spinner>
</form>

<ng-template #iconTpl>
  <i nz-icon nzType="question-circle-o" style="color: red"></i>
</ng-template>
