<nav>
  <h2>{{ 'title' | translate }}</h2>
  <ul class="sidebar__items">
    <!-- <li routerLinkActive="sidebar--actived-item">
      <a routerLink="/home">
        <div class="icon__container">
          <i nz-icon nzType="home" nzTheme="outline"></i>
        </div>
        <span>Home</span>
      </a>
    </li> -->
    <li routerLinkActive="sidebar--actived-item">
      <a routerLink="/clients">
        <div class="icon__container">
          <i nz-icon nzType="shop" nzTheme="outline"></i>
        </div>
        <span>{{ 'clients.title' | translate }}</span>
      </a>
    </li>
    <li routerLinkActive="sidebar--actived-item">
      <a routerLink="/jobs">
        <div class="icon__container">
          <i nz-icon nzType="shopping" nzTheme="outline"></i>
        </div>
        <span>{{ 'jobs.title' | translate }}</span>
      </a>
    </li>
    <li routerLinkActive="sidebar--actived-item">
      <a routerLink="/employees">
        <div class="icon__container">
          <i nz-icon nzType="team" nzTheme="outline"></i>
        </div>
        <span>{{ 'employees.title' | translate }}</span>
      </a>
    </li>
    <li routerLinkActive="sidebar--actived-item">
      <a routerLink="/leaves">
        <div class="icon__container">
          <i nz-icon nzType="rise" nzTheme="outline"></i>
        </div>
        <span>{{ 'leaves.title' | translate }}</span>
      </a>
    </li>
  </ul>
</nav>
