<nav>
  <h1>Sistema RH</h1>
  <ul class="sidebar__items">
    <li routerLinkActive="sidebar--actived-item">
      <a routerLink="/home">
        <div class="icon__container">
          <fa-icon [icon]="icons.home"></fa-icon>
        </div>
        <span>Home</span>
      </a>
    </li>
    <li routerLinkActive="sidebar--actived-item">
      <a routerLink="/clients">
        <div class="icon__container">
          <fa-icon [icon]="icons.clients"></fa-icon>
        </div>
        <span>Clientes</span>
      </a>
    </li>
    <li routerLinkActive="sidebar--actived-item">
      <a routerLink="/jobs">
        <div class="icon__container">
          <fa-icon [icon]="icons.jobPositions"></fa-icon>
        </div>
        <span>Cargos</span>
      </a>
    </li>
    <li routerLinkActive="sidebar--actived-item">
      <a routerLink="/employees">
        <div class="icon__container">
          <fa-icon [icon]="icons.employees"></fa-icon>
        </div>
        <span>Funcionários</span>
      </a>
    </li>
    <li routerLinkActive="sidebar--actived-item">
      <a routerLink="/home5">
        <div class="icon__container">
          <fa-icon [icon]="icons.employeeLeaves"></fa-icon>
        </div>
        <span>Afastamentos</span>
      </a>
    </li>
  </ul>
</nav>
