<form class="form" novalidate [formGroup]="form">
  <h2 class="form__title">Novo Cliente</h2>

  <app-input
    fieldId="client-name"
    [control]="form.get('name')"
    label="{{ 'clients.form.name.label' | translate }}"
    placeholder="{{ 'clients.form.name.placeholder' | translate }}"
  ></app-input>

  <div class="button-wrapper">
    <button
      type="submit"
      class="button button--form button--primary"
      (click)="createClient()"
    >
      Adicionar
    </button>
    <button class="button button--form button--secondary" (click)="closeForm()">
      Cancelar
    </button>
  </div>
  <app-loading></app-loading>
</form>
