<form class="form" novalidate [formGroup]="form">
  <app-loading></app-loading>

  <h2 class="form__title">{{ 'clients.forms.add.title' | translate }}</h2>

  <app-input
    fieldId="client-name"
    [control]="form.get('name')"
    label="{{ 'clients.forms.fields.name.label' | translate }}"
    placeholder="{{ 'clients.forms.fields.name.placeholder' | translate }}"
  ></app-input>

  <div class="button-wrapper">
    <button
      type="submit"
      class="button button--form button--primary"
      (click)="createClient()"
    >
      {{ 'clients.forms.add.buttons.success' | translate }}
    </button>
    <button class="button button--form button--secondary" (click)="closeForm()">
      {{ 'clients.forms.add.buttons.cancel' | translate }}
    </button>
  </div>
</form>
