.button {
  &--delete {
    color: #ca0b00;
    border-radius: 4px;
    border: 1px solid #ca0b00;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
