<section class="entity__main">
  <div class="entity__topbar">
    <h2>{{ 'clients.title' | translate }}</h2>
  </div>
  <div class="entity__content">
    <div class="actions">
      <input
        class="actions__search"
        type="text"
        placeholder="{{ 'clients.actions.search.placeholder' | translate }}"
      />
      <button
        class="button button--primary button--big"
        (click)="openCreateForm()"
      >
        {{ 'clients.actions.add_button' | translate }}
      </button>
    </div>
    <div class="content__main">
      <div class="main__table">
        <nz-table
          *ngIf="clients$ | async as clients; else loadingError"
          #basicTable
          [nzData]="clients"
        >
          <thead>
            <tr>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clients" (click)="openUpdateForm(client)">
              <td
                [class.active]="
                  selectedClient && selectedClient.id === client.id
                "
              >
                {{ client.name }}
              </td>
            </tr>
          </tbody>
        </nz-table>

        <ng-template #loadingError>
          <div *ngIf="error$ | async; else loading">
            <span>
              Erro ao carregar lista de clientes. Tente novamente mais tarde.
            </span>
          </div>
          <ng-template #loading>
            <ngx-spinner><p style="color: white">Carregando...</p></ngx-spinner>
          </ng-template>
        </ng-template>
      </div>
      <div
        class="content__form"
        style="position: relative"
        *ngIf="sideForm.status"
      >
        <app-add-client
          *ngIf="sideForm.type === 'create'"
          (formClosedEvent)="closeSideForm()"
          (clientCreated)="refresh()"
        ></app-add-client>
        <app-edit-client
          *ngIf="sideForm.type === 'update'"
          [client]="selectedClient"
          (formClosedEvent)="closeSideForm()"
          (clientUpdated)="refresh()"
        ></app-edit-client>
      </div>
    </div>
  </div>
</section>
