<section class="entity__main">
  <app-topbar title="{{ title }}"></app-topbar>
  <div class="entity__content">
    <div class="actions">
      <input
        class="actions__search"
        type="text"
        placeholder="{{ 'leaves.actions.search.placeholder' | translate }}"
      />
      <button
        class="button button--primary button--big"
        (click)="openCreateForm()"
      >
        {{ 'leaves.actions.add_button' | translate }}
      </button>
    </div>
    <div class="content__main">
      <div class="main-table__container">
        <nz-table
          class="main-table__content"
          *ngIf="entityList$ | async as leaves; else loadingError"
          #basicTable
          [nzData]="leaves"
        >
          <thead>
            <tr>
              <th>{{ 'leaves.table.header.client' | translate }}</th>
              <th>{{ 'leaves.table.header.employee' | translate }}</th>
              <th>
                {{ 'leaves.table.header.leaveType' | translate }}
              </th>
              <th>{{ 'leaves.table.header.leaveDate' | translate }}</th>
              <th>{{ 'leaves.table.header.numberDays' | translate }}</th>
              <th>{{ 'leaves.table.header.returnDate' | translate }}</th>
              <th>{{ 'leaves.table.header.type' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let leave of leaves" (click)="openUpdateForm(leave)">
              <td>{{ leave.client.name }}</td>
              <td>{{ leave.employee.name }}</td>
              <td>{{ 'leaves.leaveTypes.' + leave.leaveType | translate }}</td>
              <td>{{ leave.leaveDate }}</td>
              <td>{{ leave.numberDays || '-' }}</td>
              <td>{{ leave.returnDate || '-' }}</td>
              <td>{{ 'leaves.types.' + leave.type | translate }}</td>
            </tr>
          </tbody>
        </nz-table>

        <ng-template #loadingError>
          <div *ngIf="error$ | async; else loading">
            <span>{{
              'loading.errors.listLoading' | translate: { entity: title }
            }}</span>
          </div>
          <ng-template #loading>
            <ngx-spinner
              ><p style="color: white">
                {{ 'loading.message' | translate }}
              </p></ngx-spinner
            >
          </ng-template>
        </ng-template>
      </div>
      <div
        class="content__form"
        style="position: relative"
        *ngIf="sideForm.status"
      >
        <app-add-leave
          *ngIf="sideForm.type === 'create'"
          (formClosed)="closeSideForm()"
          (leaveCreated)="refresh()"
        ></app-add-leave>
        <!-- <app-edit-leave
          *ngIf="sideForm.type === 'update'"
          [leave]="selectedLeave"
          (formClosedEvent)="closeSideForm()"
          (leaveUpdatedEvent)="refresh()"
        ></app-edit-leave> -->
      </div>
    </div>
  </div>
</section>
