<nz-table [nzData]="leaves">
  <thead>
    <tr>
      <th>{{ 'leaves.table.header.client' | translate }}</th>
      <th>{{ 'leaves.table.header.employee' | translate }}</th>
      <th>
        {{ 'leaves.table.header.leaveType' | translate }}
      </th>
      <th>{{ 'leaves.table.header.leaveDate' | translate }}</th>
      <th>{{ 'leaves.table.header.numberDays' | translate }}</th>
      <th>{{ 'leaves.table.header.returnDate' | translate }}</th>
      <th>{{ 'leaves.table.header.type' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let leave of leaves" (click)="showLeave.emit(leave)">
      <td>{{ leave.client.name }}</td>
      <td>{{ leave.employee.name }}</td>
      <td>{{ 'leaves.leaveTypes.' + leave.leaveType | translate }}</td>
      <td>{{ leave.leaveDate }}</td>
      <td>{{ leave.numberDays || '-' }}</td>
      <td>{{ leave.returnDate || '-' }}</td>
      <td>{{ 'leaves.types.' + leave.type | translate }}</td>
    </tr>
  </tbody>
</nz-table>
