<section class="clients">
  <div class="clients__topbar">
    <h2>Clients</h2>
  </div>
  <div class="clients__content">
    <div class="actions">
      <input
        class="actions__search"
        type="text"
        placeholder="Search Client..."
      />
      <button class="button button--primary button--big" (click)="openForm()">
        Add Client
      </button>
    </div>
    <div class="content__main">
      <div class="main__table" style="position: relative">
        <table *ngIf="clients$ | async as clients; else loadingError">
          <thead>
            <th>Name</th>
          </thead>
          <tr *ngFor="let client of clients">
            <td>{{ client.name }}</td>
          </tr>
        </table>

        <ng-template #loadingError>
          <div *ngIf="error$ | async; else loading">
            <span>
              Erro ao carregar lista de clientes. Tente novamente mais tarde.
            </span>
          </div>
          <ng-template #loading>
            <ngx-spinner><p style="color: white">Loading...</p></ngx-spinner>
          </ng-template>
        </ng-template>
      </div>
      <div class="content__form" style="position: relative" *ngIf="sideForm">
        <app-new-client
          (formClosedEvent)="closeForm()"
          (clientCreated)="refresh()"
        ></app-new-client>
      </div>
    </div>
  </div>
</section>
